[default]
aws_access_key_id = {{ .awsAccessMgmt }}
aws_secret_access_key = {{ .awsSecretMgmt }}
[playground]
aws_access_key_id = {{ .awsAccessPlayground }}
aws_secret_access_key = {{ .awsSecretPlayground }}
[{{- .companyName -}}_master]
aws_access_key_id = {{ .awsAccessMaster }}
aws_secret_access_key = {{ .awsSecretMaster }}
[flash]
aws_access_key_id = {{ .awsAccessFlash }}
aws_secret_access_key = {{ .awsSecretFlash }}
