[default]
region = eu-west-1
output = json
[profile playground]
region = eu-west-1
output = json
[profile {{ .companyName }}_master]
region = eu-west-1
output = json
[profile flash]
region = eu-west-1
output = json
