{{- $machine := promptStringOnce . "machine" "Is this machine for work or home" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $personalEmail := promptStringOnce . "personalEmail" "Personal email address" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $companyName := promptStringOnce . "companyName" "Company name in lowercase" -}}
{{- $awsAccessMgmt := promptStringOnce . "awsAccessMgmt" "awsAccessMgmt" -}}
{{- $awsSecretMgmt := promptStringOnce . "awsSecretMgmt" "awsSecretMgmt" -}}
{{- $awsAccessPlayground := promptStringOnce . "awsAccessPlayground" "awsAccessPlayground" -}}
{{- $awsSecretPlayground := promptStringOnce . "awsSecretPlayground" "awsSecretPlayground" -}}
{{- $awsAccessMaster := promptStringOnce . "awsAccessMaster" "awsAccessMaster" -}}
{{- $awsSecretMaster := promptStringOnce . "awsSecretMaster" "awsSecretMaster" -}}
{{- $awsAccessFlash := promptStringOnce . "awsAccessFlash" "awsAccessFlash" -}}
{{- $awsSecretFlash := promptStringOnce . "awsSecretFlash" "awsSecretFlash" -}}

[data]
    machine = {{ $machine | quote }}
    name = {{ $name | quote }}
    personalEmail = {{ $personalEmail | quote }}
    workEmail = {{ $workEmail | quote }}
    companyName = {{ $companyName | quote }}
    awsAccessMgmt = {{ $awsAccessMgmt | quote }}
    awsSecretMgmt = {{ $awsSecretMgmt | quote }}
    awsAccessPlayground = {{ $awsAccessPlayground | quote }}
    awsSecretPlayground = {{ $awsSecretPlayground | quote }}
    awsAccessMaster = {{ $awsAccessMaster | quote }}
    awsSecretMaster = {{ $awsSecretMaster | quote }}
    awsAccessFlash = {{ $awsAccessFlash | quote }}
    awsSecretFlash = {{ $awsSecretFlash | quote }}
