{{- $machine := promptStringOnce . "machine" "Is this machine for work or home" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $personalEmail := promptStringOnce . "personalEmail" "Personal email address" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}

[data]
    machine = {{ $machine | quote }}
    name = {{ $name | quote }}
    personalEmail = {{ $personalEmail | quote }}
    workEmail = {{ $workEmail | quote }}